<!-- <angular-slickgrid
  #angularGrid
  gridId="grid1"
  [columnDefinitions]="columnDefinitions"
  [gridOptions]="gridOptions"
  [dataset]="dataset">
</angular-slickgrid> -->
<!-- <angular-slickgrid gridId="grid1"
                   [columnDefinitions]="columnDefinitions"
                   [gridOptions]="gridOptions"
                   [dataset]="dataset"
                   #angularGrid>
</angular-slickgrid> -->
<angular-slickgrid gridId="grid1"
                   [columnDefinitions]="columnDefinitions"
                   [gridOptions]="gridOptions"
                   [dataset]="dataset"
                   #angularGrid>
</angular-slickgrid>
